<h1 align='center'> Credit Card Fraud Detection</h1>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.linear_model import LogisticRegression

In [2]:
df=pd.read_csv('../Datasets/creditcard.csv')
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
df.shape

(284807, 31)

In [4]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [5]:
df.Class.value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

It is `Highly unbalanced data`.

In [6]:
legit=df[df.Class==0]
fraud=df[df.Class==1]

In [7]:
legit.shape,fraud.shape

((284315, 31), (492, 31))

In [8]:
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

### creating dataframe with similiar distribution

In [9]:
legit_sample=legit.sample(n=492)

In [10]:
# concatenating
new_df=pd.concat([legit_sample,fraud],axis=0)
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
247370,153554.0,1.943705,-1.459066,0.909989,0.160495,-2.062485,0.509216,-1.815473,0.210934,1.267645,...,-0.252620,0.336755,0.212276,0.147294,-0.455395,0.729438,0.074163,-0.022274,40.00,0
211220,138316.0,1.844882,-0.375532,-1.289672,1.363882,0.024318,-0.254164,0.036048,-0.000116,0.697695,...,0.226115,0.714439,-0.133414,-0.410836,0.356138,-0.368965,-0.009823,-0.060822,72.00,0
76923,56803.0,-1.098101,1.206453,0.880566,-0.207190,0.043929,-0.438483,0.553795,0.051156,-0.534246,...,0.152589,0.278920,-0.185754,0.023667,0.037695,0.284680,-0.829683,-0.222983,14.93,0
182287,125333.0,1.825237,0.500131,-0.379093,3.528401,0.381440,0.174528,0.091794,0.039455,-1.301757,...,-0.384147,-1.329187,0.480408,-0.462767,-0.641248,-0.638682,-0.032285,-0.036259,39.00,0
258525,158694.0,-0.491343,0.722276,1.040062,1.024765,0.534702,0.662445,0.558606,0.342345,0.029885,...,-0.245868,-0.398953,-0.052185,0.655516,-0.048977,-0.684844,0.422427,0.216710,27.90,0

In [11]:
features=new_df.drop(columns=['Class'],axis=1)
target=new_df['Class']

In [12]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(features)
features=scaler.transform(features)

In [13]:
X_train,X_test,Y_train,Y_test=train_test_split(features,target,test_size=0.2,random_state=2)

In [14]:
X_train.shape,X_test.shape,Y_train.shape,Y_test.shape

((787, 30), (197, 30), (787,), (197,))

In [15]:
model=LogisticRegression()
model.fit(X_train,Y_train)

LogisticRegression()

In [16]:
predicted_y_test=model.predict(X_test)
metrics.accuracy_score(predicted_y_test,Y_test)

0.934010152284264